<ion-toolbar>
  <div class="header">
  
  </div>    
</ion-toolbar>
<ion-content>
<div class="content ion-padding">

  <div class="text ">
    <h2>Categories</h2>
  </div>
  <div class="catogory">
   
      <ion-slides >
        <ion-slide startAutoplay page="true">
          <!-- <div class="img">
            <img src="../../../../assets/img/img1.jpg">
          </div> -->
        </ion-slide>
        <ion-slide>
          <!-- <div class="img">
            <img src="../../../../assets/img/img2.jpg">
          </div> -->
        </ion-slide>
        <ion-slide>
          <!-- <div class="img">
            <img src="../../../../assets/img/img3.jpg">
          </div> -->
        </ion-slide>
      </ion-slides>


     

      
   
  </div>
  
</div>
  
</ion-content>