<ion-content>

  <div class="container">
    <div class="header ion-padding">
      <ion-buttons (click)="toLogin() " class="log_btn">
        <ion-button>
          <ion-icon size="large" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons class="menu_btn">
        <ion-menu-button>
          <ion-icon size="large" name="menu-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>

    </div>

    <div class="collect ion-padding">
      <div class="title">
        <ion-label>Categories...</ion-label>
      </div>

      <ion-slides id="slide" roundLengths=true pages=true scrollbar=true [options]="slideOpts">

        <ion-slide *ngFor="let data of imgs">
          <div class="item" (click)="presentModal(data.name)">
            <div class="img">
              <img [src]=data.image>
            </div>

          </div>
          <div class="infor">
            <ion-label>Grinder card</ion-label>
          </div>

        </ion-slide>

      </ion-slides>
    </div>
  </div>
</ion-content>




<!-- 
  <ion-toolbar>
   <ion-buttons slot="end" class="ion-padding">
     <ion-menu-button>
      <ion-icon size="large" name="menu-sharp"></ion-icon>
     </ion-menu-button>
     <ion-icon size="large" name="menu-sharp"></ion-icon>
    
   </ion-buttons>
  </ion-toolbar> 


<ion-content class="ion-padding" style="background-color: burlywood;">
  <ion-buttons slot="end" class="ion-padding">
    <ion-menu-button>
     <ion-icon size="large" name="menu-sharp"></ion-icon>
    </ion-menu-button>
    <ion-icon size="large" name="menu-sharp"></ion-icon>
   
  </ion-buttons>
  <div class="text1 ion-padding">
    <p>Hello <br> How can we help you <br>today?</p>
  </div>

  <div class="title ion-padding">
    <h2>Categories</h2>
  </div>
  <div class="category">
    <ion-slides id="slide" roundLengths=true scrollbar=false [options]="slideOpts">
      <ion-slide style="background-color: aqua;">
        <div class="img">
          <img src="../../../../assets/grinder/2.jfif">      
        </div>
       
      </ion-slide>
      <ion-slide style="background-color: azure;">
        <div class="img">
          <img src="../../../../assets/grinder/3.jfif">      
        </div>
      </ion-slide>
      <ion-slide style="background-color:burlywood;">
        <h1>Slide 3</h1>
      </ion-slide>
      <ion-slide>
        
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>-->


<!--  
        <ion-slide>
          <div class="item">
            <div class="img">
              <img src="../../../../assets/lighter/1.jpeg">
            </div>
          </div>
          <div class="infor">

          </div>
        </ion-slide>

        <ion-slide>
          <div class="item">
            <div class="img">
              <img src="../../../../assets/rolling/OIP.jfif">
            </div>
          </div>
          <div class="infor">

          </div>
        </ion-slide>

        <ion-slide>
          <div class="item">
            <div class="img">
              <img src="../../../../assets/one h/4.jpg">
            </div>
          </div>
          <div class="infor">

          </div>
        </ion-slide>
-->