.log {
    margin: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 2px 2px;
    border-radius: 5px;


}


.contant {
    width: 100%;
    height: 18vh;
    // border-bottom: rgb(128, 128, 128,0.5) 1px solid;


    ion-slides {
        height: 100%;
        // background-color: blue;
    }

    ion-slide {
        border-radius: 40px;
        height: 96%;
        width: 100%;
        // background-color: lightblue;
        position: relative;
        margin-top: 1%;
        margin-bottom: 3%;

        .itemz {
            width: 100%;
            height: 100%;
            border-radius: 10%;
            margin-block-end: 5%;
            display: inline-block;
        }

        .img {
            width: 100%;
            height: 100%;
            // border-radius: 40px;
            border-radius: 40px;

            img {
                // border-radius: 40px;
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
        }

    }
}

.title {
    width: 100%;
}

.pets {
    width: 100%;
    height: 100%;

    .collection {

        width: 100%;
        // height: 100%;
    }

    .items {
        // display: inline-block;  
        height: 26vh;
        margin-bottom: 20vh;

        .itemCollect {
            width: 47%;
            height: 100%;
            display: inline-block;
            background-color: whitesmoke;
            margin-inline-start: 2%;
            margin-block-end: 2%;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;


            .img {
                width: 100%;
                height: 70%;
                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
            }

            img {
                width: 100%;
                height: 100%;

                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
            }
            .infor {
                margin-top: 5%;
                width: 100%;
                // background-color: green;
                position: relative;
    
                .detail {
                    text-align: left;
    
                    .name,
                    .price {
                        // font-weight: bold;
                    }
                }
    
                .btn {
                    position: absolute;
                    right: 0%;
                    bottom: 2%;
                    color: white;
                }
            }


        }
    }
}







/*.container {
    width: 100%;
    height: 100%;
    // background-color: gray;
    background-color: green;
    position: relative;
    z-index: 0;

    .header {
        width: 100%;
        height: 25%;
        background-color: white;
        clip-path: circle(80% at center -40%);
        position: sticky;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        top: 0;
        z-index: 1;
        position: relative;

        .log_btn {
            position: absolute;
            top: 15%;
            left: 0;
            transform: translate(0, -15%);
        }
    }

    .collect {
        width: 100%;
        height: 70%;
        margin: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        //background-color: violet;
        z-index: 2;

        .title {
            color: honeydew;
            font-weight: bold;
            padding-bottom: 2%;
            font-size: 20px;
            // font-family: ;
        }

        .item {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: wheat;
            width: 100%;
            height: 100%;
            border-radius: 40px;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 40px;

                img {
                    border-radius: 40px;
                    width: 100%;
                    height: 100%;
                }
            }
            
        .infor {
            margin-top: 5%;
            width: 100%;
            // background-color: green;
            position: relative;

            .detail {
                text-align: left;

                .name,
                .price {
                    font-weight: bold;
                }
            }

            .btn {
                position: absolute;
                right: 0%;
                bottom: 2%;
            }
        }
        }

        .firstSlide {
            border-radius: 40px;
            height: 18vh;
            background-color: violet;
            position: relative;
        }
    }

}

.itemCollection {
    // background-color: hotpink;
    width: 100%;
    height: 40vh;


    ion-slides {
        height: 100%;
        // background-color: lawngreen;
    }

    .ion-slide {
        border-radius: 40px;
        height: 98%;
        width: 100%;
        // background-color: lightblue;
        background-color: rgb(0, 0, 0,0.5);
        position: relative;
        margin-top: 1.5%;

        .itemz {
            width: 100%;
            height: 100%;
            border-radius: 10%;
            margin-block-end: 5%;
            // background-color: rgb(128, 128, 128, 0.5);
            display: inline-block;
            color: white;
        }

        .img {
            width: 100%;
            height: 65%;
            border-radius: 40px;

            img {
                border-radius: 40px;
                width: 100%;
                height: 100%;
            }
        }
        
        .infor {
            margin-top: 3%;
            width: 100%;
            padding-left: 5%;
            // background-color: green;
            position: relative;

            .detail {
                text-align: left;

                .name,
                .price {
                    font-weight: bold;
                }

            }

            .btn {
                position: absolute;
                right: 3%;
                bottom: 2%;
            }
        }
    }


}

*/





/* .item {
        width: 70%;
        height: 50%;
        border-radius: 10%;
        margin-block-end: 5%;
        background-color: rgb(128, 128, 128, 0.5);
        display: inline-block;



        .img {
            width: 80%;
            height: 70%;
            border-radius: 10%;

            img {
                border-radius: 10%;
                width: 100%;
                height: 100%;
            }
        }

        .infor {
            margin-top: 5%;
            width: 100%;
            // background-color: green;
            position: relative;

            .detail {
                text-align: left;

                .name,
                .price {
                    font-weight: bold;
                }

            }

            .btn {
                position: absolute;
                right: 0%;
                bottom: 2%;
            }
        }

    }*/