<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="dismiss()" slot="start">
      <ion-button>
        <ion-icon name="arrow-back-sharp"></ion-icon>Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="collect ion-padding">
    <div class="item">

    </div>
    <div class="item">

    </div>
    <div class="item">

    </div>

    <div class="item">

    </div>
    <div class="item">

    </div>

    <div class="item">

    </div>

    

  </div>

</ion-content>