.collection {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 80%;
    height: 50vh;

    .log {

        margin-top: 10%;
        box-shadow: 2px 2px 2px 2px;
        border-radius: 5px;
    }
    .btn {
        margin: auto;
        text-align: center;
        width: 70%;
        margin-top: 10%;
      }

}