<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
    <ion-buttons (click)=" gotoLogin()" slot="end">
      <ion-button>
        Register
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="collection">

    <div class="log">
      <ion-input clearInput type="type" [(ngModel)]="username" placeholder="enter name"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="email" [(ngModel)]="usernams" placeholder="enter email"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="number" [(ngModel)]="password" placeholder="enter Phone number"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="password" [(ngModel)]="usernam" placeholder="password"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="password" [(ngModel)]="usernam" placeholder="Confirm password"></ion-input>
    </div>


  </div>

</ion-content>