<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="">

  <div class="collection">

    <div class="log">
      <ion-input clearInput type="type" [(ngModel)]="name"  placeholder="enter name"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="email" [(ngModel)]="email"  placeholder="enter email"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="number" [(ngModel)]="phoneNumber"  placeholder="enter Phone number"></ion-input>
    </div>

    <div class="log">
      <ion-input clearInput type="password" [(ngModel)]="password" placeholder="password"></ion-input>
    </div>
    
    <div class="btn">
      <ion-button (click)="register()" expand="block" fill="outline">Register</ion-button>
    </div>

  </div>

</ion-content>