<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile" *ngFor="let item of profile">

    <ion-label color="primary">{{'Name : '}} {{item.Name}}</ion-label>
    <br>
    <ion-label color="primary">{{'Email :'}} {{item.Email}}</ion-label>
    <br>
    <ion-label color="primary">{{'PhoneNumber :'}} {{item.PhoneNumber}}</ion-label>
    <br>
    <ion-label color="primary">{{'Id :'}} {{item.id}}</ion-label>

  </div>
 
</ion-content>



